.card {
  display: flex;
  background-color: #f3f4f7;
}

.card-list {
  max-height: 700px;
  overflow: scroll;
}

.saved-card-list {
  max-height: 700px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

.saved-card-list .card {
  width: 48%;
  margin: 10px;
}

.card-detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.detail-bar {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  height: 30px;
}

.detail-bar p {
  width: 20%;
}

.cute-img {
  width: 40px;
  margin-right: 5px;
}

.add-btn {
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.add-btn:hover {
  opacity: 0.5;
}

.modal-btn {
  font-size: 30px;
}

.header {
  text-align: center;
  background: #f3701a;
}